@import 'tailwindcss';

@theme {
  --font-ibm: 'IBM Plex Sans', serif;
  --font-logo: 'Hammersmith One', sans-serif;
  --color-custom-blue-1: #0a3981;
  --color-custom-blue-2: #3674b5;
  --color-custom-blue-3: #578fca;
  --color-custom-blue-4: #a1e3f9;
  --color-white-smoke: #f6f5f4;
  --color-arsenic: #11181c;
}

body {
  font-family: var(--font-ibm);
  color: var(--color-arsenic);
}

.nav-link {
  @apply flex items-center gap-4 text-white-smoke cursor-pointer hover:bg-custom-blue-3 p-3 rounded transition ease-in-out duration-300;
}

.btn-logout {
  @apply w-full flex gap-3 items-center justify-center rounded bg-red-700 hover:bg-red-600 text-white-smoke px-6 py-2.5 cursor-pointer transition ease-linear duration-200;
}

a.active {
  @apply bg-custom-blue-2;
}

.active-paginate {
  @apply bg-custom-blue-4;
}

/* HTML: <div class="loader"></div> */
.loader {
  /* width: 100px; */
  aspect-ratio: 1;
  border-radius: 50%;
  /* border: 8px solid lightblue; */
  border-color: lightblue;
  border-style: solid;
  border-right-color: var(--color-custom-blue-2);
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
